<head>
  <link rel="stylesheet" type="text/css" href="css/materialize.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="home">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper pg-red">
        <a href="/" class="brand-logo"><strong>PGCTF</strong>18/practice</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="register">Register</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="register">Register</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <h1 class="pg-gold"><strong>contact</strong></h1>
    <hr>
    <h3 class="pg-gold">contact/event_information</h3>
    <table>
      <thead>
        <tr>
            <th>Name</th>
            <th>Reason</th>
            <th>Contact Info</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Tillson Galloway</td>
          <td>Anything problem-related</td>
          <td><a href="mailto:tgalloway18@portergaud.edu">mail/tgalloway18@portergaud.edu</a></td>
        </tr>
        <tr>
          <td>Charles Truluck</td>
          <td>Anything event-related</td>
          <td><a href="mailto:ctruluck20@portergaud.edu">mail/ctruluck20@portergaud.edu</a></td>
        </tr>
        <tr>
          <td>Doug Bergman</td>
          <td>Anything only a teacher can answer</td>
          <td><a href="mailto:dbergman@portergaud.edu">mail/dbergman@portergaud.edu</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
